<section class="page-content u-container">
  <h1 class="u-text-style-h1">{{ page.title }}</h1>
  <div class="page-body w-richtext">
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Page Content",
  "settings": []
}
{% endschema %}
